* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

.nav {
  background-color: rgb(18, 20, 63);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
}
.site-title {
  font-size: 2rem;
}

.site-title:hover {
  color: goldenrod;
}
.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav li:active {
  color: goldenrod;
}

.nav li:hover {
  color: goldenrod;
}
.enter-app {
  padding: 5px 10px;
  border: 2px solid white;
  border-radius: 10px / 15px;
  background-color: rgb(18, 20, 63);
  color: white;
  cursor: pointer;
}

.enter-app:hover {
  color: goldenrod;
}
